/*ROBOTO FONT*/
@font-face {
    font-family: 'Roboto Medium'; 
    src: url('Roboto-Medium.ttf'); 
} 
@font-face { 
    font-family: 'Roboto Bold'; 
    src: url('Roboto-Bold.ttf'); 
} 
@font-face { 
    font-family: 'Roboto'; 
    src: url('Roboto-Regular.ttf'); 
} 

/*OPEN SANS FONT*/
@font-face { 
    font-family: 'Open Regular'; 
    src: url('OpenSans-Regular.ttf'); 
} 

.splashbackground {
    -fx-background-color:   #1a2226;
    -fx-padding: 15;
    -fx-spacing: 10;
}

.splashtext{
    -fx-text-fill: white;
}


.labelForm{ 
    -fx-font-size:14; 
    -fx-font-family:"Roboto";  
} 

.panelOption{
    -fx-background-color: rgb(241,241,241);
    -fx-border-color: transparent transparent rgb(210,210,210) transparent;
}

.hboxBackground{
    -fx-background-color: rgb(241,241,241);
    -fx-border-color: rgb(210,210,210) transparent transparent transparent;
}

.labelBorder{
    -fx-padding: 4 30 4 30;  
    -fx-font-family:"Roboto Bold";  
    -fx-font-size:14; 
}

/**********/
.buttonTransparent{
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-padding: 10;
    -fx-font-family:"Roboto";  
    -fx-font-size:16; 
}
.buttonTransparent:hover{
    -fx-background-color: #999999;
    -fx-cursor: hand;
    -fx-padding: 10;
}
.buttonTransparent:focused{
    -fx-background-color: #0288d1;
    -fx-cursor: hand;
    -fx-padding: 10;
    -fx-text-fill: #FFFFFF;
}
.buttonTransparent:pressed{
    -fx-background-color: #666666;
    -fx-padding: 10;
}
/*--------------*/
.buttonIcon{
    -fx-background-color: -fx-shadow-highlight-color,rgb(43,87,154),rgb(43,87,154),rgb(43,87,154);
    -fx-font-family:"Roboto";  
    -fx-font-size:16; 
    -fx-text-fill: white;
}
.buttonIcon:hover{
    -fx-background-color:  #3a3e4d;
    -fx-cursor: hand;
}
.buttonIcon:pressed{
    -fx-background-color: #373e58;
}
.buttonIcon:focused{
    -fx-background-color: #373e58;
}
/*-----------------*/
.buttonMenu{

}
.buttonMenu:hover{
    -fx-background-color: #999999;
    -fx-cursor: hand;
}
.buttonMenu:pressed{
    -fx-background-color: #666666;
}

/*--------------*/
.text-format{
    -fx-fill: #FFFFFF;
    -fx-font-size:18; 
    -fx-font-family:"Roboto";  
}

/*----------*/
.linkText{

}

.linkText:hover{
    -fx-cursor: hand;
    -fx-fill: #FE104C;
}


/*-------------*/
.tab-pane {
    -fx-tab-min-height: 3em;
    /* 24 */
    -fx-tab-max-height: 2em;
    /* 24 */
}
.tab .tab-label {
    -fx-background-color: transparent;
    -fx-alignment: CENTER;
    -fx-text-fill: rgb(241,241,241);
    -fx-font-family:"Roboto";  
    -fx-font-size: 14px;
}
.tab {
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-background-color:    #1a2226;
}
.tab:selected{
    -fx-background-color:   #e7e6e6;
}
.tab:selected .tab-label{
    -fx-text-fill:  #23283a;

}
.tab:focused {
    -fx-focus-color: transparent;
}
.tab {
    -fx-padding: 0 30 0 30;
}
.tab-pane *.tab-header-background {
    -fx-background-color:    #1a2226;
}
.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0 0.166667em 0.0em 0.0em;
}
.tab:selected .focus-indicator {
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
}

/*******************************************************************************
 *                                                                             *
 * Scroll Bar and Scroll Pane                                                  *
 *                                                                             *
 ******************************************************************************/

/*******************************************************************************
 *                                                                             *
 * ScrollBar                                                                   *
 *                                                                             *
 ******************************************************************************/

.scroll-bar > .thumb{
    -fx-background-color: rgb(193,193,193);
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.scroll-bar > .thumb:hover {
    -fx-background-color: rgb(168,168,168);
}

.scroll-bar > .thumb:pressed {
    -fx-background-color: #606060;
}

.scroll-bar > .track {
    -fx-background-color: rgb(241,241,241);
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.scroll-bar > .track-background {
    -fx-background-color: rgb(241,241,241);
    -fx-background-insets: 0;
}

.scroll-bar > .increment-button,
.scroll-bar > .decrement-button {
    -fx-background-color: rgb(241,241,241);
    -fx-background-insets: 0;
    -fx-background-radius: 0;

    -fx-padding: 0.28em; /* 3 */
}

.scroll-bar > .increment-button:hover,
.scroll-bar > .decrement-button:hover  {
    -fx-background-color: #dadada;
}

.scroll-bar > .increment-button:pressed,
.scroll-bar > .decrement-button:pressed {
    -fx-background-color: #606060;
}

.scroll-bar > .decrement-button > .decrement-arrow,
.scroll-bar > .increment-button > .increment-arrow{
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-background-color: transparent, #606060;
}

.scroll-bar > .decrement-button:pressed > .decrement-arrow,
.scroll-bar > .increment-button:pressed > .increment-arrow {
    -fx-background-color: transparent, white;
}

.scroll-bar:vertical > .increment-button > .increment-arrow,
.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-padding: 0.333333em 0.5em 0.0em 0.0em; /* 4 6 0 0 */
}

.scroll-bar:horizontal > .increment-button > .increment-arrow,
.scroll-bar:horizontal > .decrement-button > .decrement-arrow {
    -fx-padding: 0.5em 0.333333em 0.0em 0.0em; /* 6 4 0 0 */
}

.scroll-bar:disabled {
    -fx-opacity: 0.4;
}

/* ARROW SHAPES */
.scroll-bar:horizontal > .decrement-button > .decrement-arrow {
    -fx-shape: "M11,17H8.111l-3.86-4.124l3.86-4.125H11l-3.375,4.125L11,17z";
}

.scroll-bar:horizontal > .increment-button > .increment-arrow {
    -fx-shape: "M7.626,12.876L4.251,8.751H7.14L11,12.876L7.14,17H4.251L7.626,12.876z";
}

.scroll-bar:vertical > .decrement-button > .decrement-arrow {
    -fx-shape: "M4,17v-2.889l4.124-3.86l4.125,3.86V17l-4.125-3.375L4,17z";
}

.scroll-bar:vertical > .increment-button > .increment-arrow {
    -fx-shape: "M8.124,13.625l4.125-3.375v2.889l-4.125,3.86L4,13.139V10.25L8.124,13.625z";
}

/*******************************************************************************
 *                                                                             *
 * ScrollPane                                                                  *
 *                                                                             *
 ******************************************************************************/

.scroll-pane {
    -fx-background-color: transparent, transparent;
}

.scroll-pane .corner {
    -fx-background-radius: 0 0 0 0;
    -fx-background-color: transparent;
    -fx-background-insets: 1 0 0 1; /* have the square on the corner be centered */
}

.scroll-pane> .viewport{
    -fx-background-color: white;
}

/*******************************************************************************
 *                                                                             *
 * Label roboto sizes                                                  *
 *                                                                             *
 ******************************************************************************/

.labelRoboto10{
    -fx-font-size:10; 
    -fx-font-family:"Roboto"; 
}
.labelRoboto12{
    -fx-font-size:12; 
    -fx-font-family:"Roboto"; 
}
.labelRoboto14{
    -fx-font-size:14; 
    -fx-font-family:"Roboto"; 
}
.labelRoboto16{
    -fx-font-size:16; 
    -fx-font-family:"Roboto"; 
}
.labelRoboto18{
    -fx-font-size:18; 
    -fx-font-family:"Roboto"; 
}
.labelRoboto20{
    -fx-font-size:20; 
    -fx-font-family:"Roboto"; 
}
.labelRoboto22{
    -fx-font-size:22; 
    -fx-font-family:"Roboto"; 
}
.labelRoboto24{
    -fx-font-size:24; 
    -fx-font-family:"Roboto"; 
}
.labelRoboto26{
    -fx-font-size:26; 
    -fx-font-family:"Roboto"; 
}

/*******************************************************************************
 *                                                                             *
 * Label roboto medium sizes                                                  *
 *                                                                             *
 ******************************************************************************/
.labelRobotoMedium10{
    -fx-font-size:10; 
    -fx-font-family:"Roboto Medium"; 
}
.labelRobotoMedium12{
    -fx-font-size:12; 
    -fx-font-family:"Roboto Medium"; 
}
.labelRobotoMedium14{
    -fx-font-size:14; 
    -fx-font-family:"Roboto Medium"; 
}
.labelRobotoMedium16{
    -fx-font-size:16; 
    -fx-font-family:"Roboto Medium"; 
}
.labelRobotoMedium18{
    -fx-font-size:18; 
    -fx-font-family:"Roboto Medium"; 
}
.labelRobotoMedium20{
    -fx-font-size:22; 
    -fx-font-family:"Roboto Medium"; 
}
.labelRobotoMedium24{
    -fx-font-size:24; 
    -fx-font-family:"Roboto Medium"; 
}
.labelRobotoMedium26{
    -fx-font-size:26; 
    -fx-font-family:"Roboto Medium"; 
}

/*******************************************************************************
 *                                                                             *
 * Label roboto bold sizes                                                  *
 *                                                                             *
 ******************************************************************************/
.labelRobotoBold10{
    -fx-font-size:10; 
    -fx-font-family:"Roboto Bold"; 
}
.labelRobotoBold12{
    -fx-font-size:12; 
    -fx-font-family:"Roboto Bold"; 
}
.labelRobotoBold14{
    -fx-font-size:14; 
    -fx-font-family:"Roboto Bold"; 
}
.labelRobotoBold16{
    -fx-font-size:16; 
    -fx-font-family:"Roboto Bold"; 
}
.labelRobotoBold18{
    -fx-font-size:18; 
    -fx-font-family:"Roboto Bold"; 
}
.labelRobotoBold20{
    -fx-font-size:22; 
    -fx-font-family:"Roboto Bold"; 
}
.labelRobotoBold24{
    -fx-font-size:24; 
    -fx-font-family:"Roboto Bold"; 
}
.labelRobotoBold26{
    -fx-font-size:26; 
    -fx-font-family:"Roboto Bold"; 
}

.labelRobotoBold30{
    -fx-font-size:30; 
    -fx-font-family:"Roboto Bold"; 
}

/*******************************************************************************
 *                                                                             *
 * Label open sans regular sizes                                                  *
 *                                                                             *
 ******************************************************************************/
.labelOpenSansRegular10{
    -fx-font-size:10; 
    -fx-font-family:"Open Regular"; 
}
.labelOpenSansRegular12{
    -fx-font-size:12; 
    -fx-font-family:"Open Regular"; 
}
.labelOpenSansRegular14{
    -fx-font-size:14; 
    -fx-font-family:"Open Regular"; 
}
.labelOpenSansRegular16{
    -fx-font-size:16; 
    -fx-font-family:"Open Regular"; 
}
.labelOpenSansRegular18{
    -fx-font-size:18; 
    -fx-font-family:"Open Regular"; 
}
.labelOpenSansRegular20{
    -fx-font-size:22; 
    -fx-font-family:"Open Regular"; 
}
.labelOpenSansRegular24{
    -fx-font-size:24; 
    -fx-font-family:"Open Regular"; 
}
.labelOpenSansRegular26{
    -fx-font-size:26; 
    -fx-font-family:"Open Regular"; 
}

/*******************************************************************************
 *                                                                             *
 * Button panel                                                    *
 *                                                                             *
 ******************************************************************************/
.buttonPanel {
    -fx-padding: 12 30 12 30;
    -fx-border-color: transparent;
    -fx-border-width: 0 0 0 0;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
    -fx-font-size:16; 
    -fx-font-family:"Roboto"; 
    -fx-text-fill: white;    
    -fx-opacity: 0.4;
}
.buttonPanel:hover{
    -fx-background-color: #444858;
    -fx-cursor: hand;
    -fx-opacity: 1;
}
.buttonPanel:pressed, .buttonPanel:default:hover:pressed{
    -fx-text-fill:   #23283a;
}
/*#0C0F18*/
.buttonPanel:focused{    
    -fx-background-color: #0a6db0;
    -fx-opacity: 1;
}
.buttonPanelActive{
    -fx-background-color: #0a6db0;
    -fx-opacity: 1;
}
/*******************************************************************************
 *                                                                             *
 * Button panel with Hbox                                                    *
 *                                                                             *
 ******************************************************************************/
.buttonContainer {
    -fx-padding:12px 30px 12px 30px;
    -fx-spacing:10px;
    -fx-opacity:0.4;
}
.buttonContainer:hover {
    -fx-background-color: #444858;
    -fx-cursor: hand;
    -fx-opacity: 1;
}
.buttonContainer:pressed {
    -fx-background-color: #1F2434;
}
.buttonContainerActivate{
    -fx-background-color: #0a6db0;
    -fx-padding:12px 30px 12px 30px;
    -fx-spacing:10px;
    -fx-opacity:1;
}

/*******************************************************************************
 *                                                                             *
 * Table View                                                                  *
 *                                                                             *
 ******************************************************************************/

.table-view{
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}
.table-view .filler, .table-view .column-header{
    -fx-background-color:  #1a2226;
    -fx-border-width:0 1px 1px 0;
    -fx-border-color:#ccc;
}
/***** Column Header *****/

.table-view .column-header-background{
    -fx-background-color:  #1a2226;
}
.table-view .column-header{
    -fx-background-color:  #1a2226;
    -fx-border-width:0 1px 1px 0;
    -fx-border-color:#ccc;
}
.table-view .column-header:hover{
    -fx-background-color: #7a7a7a;
    -fx-cursor:hand;
}
.table-view .column-header .label{
    -fx-text-fill:  white;
    -fx-font-family:"Roboto Medium"; 
    -fx-font-size: 14px;
    -fx-padding: 8 0 8 0;
}
.table-view .column-header .label:hover{
    -fx-text-fill: white;
}

/***** Table View "body"  *****/

.table-view .table-cell{
    -fx-font-family:"Roboto"; 
    -fx-font-size: 14px;
    -fx-padding: 8px;
}

/*******************************************************************************
 *                                                                             *
 * Button Light                                                     *
 *                                                                             *
 ******************************************************************************/

.buttonLight{
    BACKGROUND: #cccccc;
    BACKGROUND_PRESSED: #999999;

    BORDER_HOVER: #7a7a7a;

    TEXT: #111;
    DEFAULT_BUTTON_TEXT: white;

    FOCUS_RING_BORDER: #111;

    -shrink-animate-on-press: true;
}

.buttonLight{
    -fx-padding: 0.25em 1.666666em 0.25em 1.666666em; /*3 20 3 20*/

    -fx-border-color: transparent;
    -fx-border-width: 1;

    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-color: BACKGROUND;

    -fx-font-family:"Roboto";
    -fx-font-size: 14;
    -fx-text-fill: TEXT;
}
.buttonLight:hover{
    -fx-border-color: BORDER_HOVER;
    -fx-border-width: 1;
}
.buttonLight:pressed{
    -fx-border-color: BACKGROUND_PRESSED;
    -fx-background-color: BACKGROUND_PRESSED;
    -fx-border-width: 1;
}
.buttonLight:focused{
    -fx-border-color: transparent, #00aff0;
    -fx-border-radius: 0, 0;
    -fx-border-width: 1;
}
.buttonLight:disabled, .buttonLight:default:disabled{
    -fx-opacity: 0.4;
    -fx-background-color: BACKGROUND;
    -fx-text-fill: TEXT;
}

.buttonLight {
    BORDER_HOVER_DEFAULT: derive(ACCENT_COLOR, -40%);
}
.buttonLight:default
{
    -fx-background-color: ACCENT_COLOR;
    -fx-text-fill: DEFAULT_BUTTON_TEXT;
}
.buttonLight:default:hover{
    -fx-border-color: BORDER_HOVER_DEFAULT;
}
.buttonLight:default:pressed {
    -fx-background-color: derive(ACCENT_COLOR, -40%);
}

/*******************************************************************************
 *                                                                             *
 * Button Light Default                                                    *
 *                                                                             *
 ******************************************************************************/

.buttonLightDefault{
    BACKGROUND: #2796c4;
    BACKGROUND_PRESSED: #175a75;

    BORDER_HOVER: #175a75;

    TEXT: #ffffff;
    DEFAULT_BUTTON_TEXT: white;

    FOCUS_RING_BORDER: #ffffff;

    -shrink-animate-on-press: true;
}

.buttonLightDefault{
    -fx-padding: 0.25em 1.666666em 0.25em 1.666666em; /*3 20 3 20*/

    -fx-border-color: transparent;
    -fx-border-width: 1;

    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-color: BACKGROUND;

    -fx-font-family:"Roboto";
    -fx-font-size: 14;
    -fx-text-fill: TEXT;
}
.buttonLightDefault:hover{
    -fx-border-color: BORDER_HOVER;
    -fx-border-width: 1;
}
.buttonLightDefault:pressed{
    -fx-border-color: BACKGROUND_PRESSED;
    -fx-background-color: BACKGROUND_PRESSED;
    -fx-border-width: 1;
}
.buttonLightDefault:focused{
    -fx-border-color: transparent, #00aff0;
    -fx-border-radius: 0, 0;
    -fx-border-width: 1;
}
.buttonLightDefault:disabled, .buttonLightDefault:default:disabled{
    -fx-opacity: 0.4;
    -fx-background-color: BACKGROUND;
    -fx-text-fill: TEXT;
}

.buttonLightDefault {
    BORDER_HOVER_DEFAULT: derive(ACCENT_COLOR, -40%);
}
.buttonLightDefault:default
{
    -fx-background-color: ACCENT_COLOR;
    -fx-text-fill: DEFAULT_BUTTON_TEXT;
}
.buttonLightDefault:default:hover{
    -fx-border-color: BORDER_HOVER_DEFAULT;
}
.buttonLightDefault:default:pressed {
    -fx-background-color: derive(ACCENT_COLOR, -40%);
}


/*******************************************************************************
 *                                                                             *
 * Button Light Warning                                                    *
 *                                                                             *
 ******************************************************************************/

.buttonLightWarning {
    BACKGROUND: #ea5f09;
    BACKGROUND_PRESSED: #aa521d;

    BORDER_HOVER: #ce5104;

    TEXT: #ffffff;
    DEFAULT_BUTTON_TEXT: white;

    FOCUS_RING_BORDER: #ffffff;

    -shrink-animate-on-press: true;
}

.buttonLightWarning{
    -fx-padding: 0.25em 1.666666em 0.25em 1.666666em; /*3 20 3 20*/

    -fx-border-color: transparent;
    -fx-border-width: 1;

    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-color: BACKGROUND;

    -fx-font-family:"Roboto";
    -fx-font-size: 14;
    -fx-text-fill: TEXT;
}
.buttonLightWarning:hover{
    -fx-border-color: BORDER_HOVER;
    -fx-border-width: 1;
}
.buttonLightWarning:pressed{
    -fx-border-color: BACKGROUND_PRESSED;
    -fx-background-color: BACKGROUND_PRESSED;
    -fx-border-width: 1;
}
.buttonLightWarning:focused{
    -fx-border-color: transparent, #00aff0;
    -fx-border-radius: 0, 0;
    -fx-border-width: 1;
}
.buttonLightWarning:disabled, .buttonLightWarning:default:disabled{
    -fx-opacity: 0.4;
    -fx-background-color: BACKGROUND;
    -fx-text-fill: TEXT;
}

.buttonLightWarning {
    BORDER_HOVER_DEFAULT: derive(ACCENT_COLOR, -40%);
}
.buttonLightWarning:default
{
    -fx-background-color: ACCENT_COLOR;
    -fx-text-fill: DEFAULT_BUTTON_TEXT;
}
.buttonLightWarning:default:hover{
    -fx-border-color: BORDER_HOVER_DEFAULT;
}
.buttonLightWarning:default:pressed {
    -fx-background-color: derive(ACCENT_COLOR, -40%);
}

/*******************************************************************************
 *                                                                             *
 * Button Light Success                                                    *
 *                                                                             *
 ******************************************************************************/

.buttonLightSuccess  {
    BACKGROUND: #32a019;
    BACKGROUND_PRESSED: #264f1c;

    BORDER_HOVER: #237c0e;

    TEXT: #ffffff;
    DEFAULT_BUTTON_TEXT: white;

    FOCUS_RING_BORDER: #ffffff;

    -shrink-animate-on-press: true;
}

.buttonLightSuccess{
    -fx-padding: 0.25em 1.666666em 0.25em 1.666666em; /*3 20 3 20*/

    -fx-border-color: transparent;
    -fx-border-width: 1;

    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-color: BACKGROUND;

    -fx-font-family:"Roboto";
    -fx-font-size: 14;
    -fx-text-fill: TEXT;
}
.buttonLightSuccess:hover{
    -fx-border-color: BORDER_HOVER;
    -fx-border-width: 1;
}
.buttonLightSuccess:pressed{
    -fx-border-color: BACKGROUND_PRESSED;
    -fx-background-color: BACKGROUND_PRESSED;
    -fx-border-width: 1;
}
.buttonLightSuccess:focused{
    -fx-border-color: transparent, #00aff0;
    -fx-border-radius: 0, 0;
    -fx-border-width: 1;
}
.buttonLightSuccess:disabled, .buttonLightSuccess:default:disabled{
    -fx-opacity: 0.4;
    -fx-background-color: BACKGROUND;
    -fx-text-fill: TEXT;
}

.buttonLightSuccess {
    BORDER_HOVER_DEFAULT: derive(ACCENT_COLOR, -40%);
}
.buttonLightSuccess:default
{
    -fx-background-color: ACCENT_COLOR;
    -fx-text-fill: DEFAULT_BUTTON_TEXT;
}
.buttonLightSuccess:default:hover{
    -fx-border-color: BORDER_HOVER_DEFAULT;
}
.buttonLightSuccess:default:pressed {
    -fx-background-color: derive(ACCENT_COLOR, -40%);
}

/*******************************************************************************
 *                                                                             *
 * Button Border                                                    *
 *                                                                             *
 ******************************************************************************/

.buttonBorder{
    BACKGROUND: transparent;
    BACKGROUND_PRESSED: #cccccc;

    BORDER_HOVER: #175a75;

    TEXT: #ffffff;
    DEFAULT_BUTTON_TEXT: white;

    FOCUS_RING_BORDER: #ffffff;

    -shrink-animate-on-press: true;
}

.buttonBorder{
    -fx-padding: 0.25em 1.666666em 0.25em 1.666666em; /*3 20 3 20*/

    -fx-border-color: #999999;
    -fx-border-width: 1;

    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-color: BACKGROUND;

    -fx-font-family:"Roboto";
    -fx-font-size: 14;
    -fx-text-fill: TEXT;
}
.buttonBorder:hover{
    -fx-border-color: BORDER_HOVER;
    -fx-border-width: 1;
}
.buttonBorder:pressed{
    -fx-border-color: BACKGROUND_PRESSED;
    -fx-background-color: BACKGROUND_PRESSED;
    -fx-border-width: 1;
}
.buttonBorder:focused{
    -fx-border-color: transparent, #00aff0;
    -fx-border-radius: 0, 0;
    -fx-border-width: 1;
}
.buttonBorder:disabled, .buttonBorder:default:disabled{
    -fx-opacity: 0.4;
    -fx-background-color: BACKGROUND;
    -fx-text-fill: TEXT;
}

.buttonBorder {
    BORDER_HOVER_DEFAULT: derive(ACCENT_COLOR, -40%);
}
.buttonBorder:default
{
    -fx-background-color: ACCENT_COLOR;
    -fx-text-fill: DEFAULT_BUTTON_TEXT;
}
.buttonBorder:default:hover{
    -fx-border-color: BORDER_HOVER_DEFAULT;
}
.buttonBorder:default:pressed {
    -fx-background-color: derive(ACCENT_COLOR, -40%);
}

/*******************************************************************************
 *                                                                             *
 * Button Info                                                    *
 *                                                                             *
 ******************************************************************************/

.buttonInfo  {
    BACKGROUND: #17a2b8;
    BACKGROUND_PRESSED: #128597;

    BORDER_HOVER: #175a75;

    TEXT: #ffffff;
    DEFAULT_BUTTON_TEXT: white;

    FOCUS_RING_BORDER: #ffffff;

    -shrink-animate-on-press: true;
}

.buttonInfo{
    -fx-padding: 0.25em 0.86em 0.25em 0.86em; /*3 12 3 12*/

    -fx-border-color: transparent;
    -fx-border-width: 1;

    -fx-background-radius: 0;
    -fx-background-insets: 0;
    /*#17a2b8*/
    -fx-background-color: BACKGROUND;

    -fx-font-family:"Roboto";
    -fx-font-size: 14;
    -fx-text-fill: TEXT;
}
.buttonInfo:hover{
    -fx-border-color: BORDER_HOVER;
    -fx-border-width: 1;
}
.buttonInfo:pressed{
    -fx-border-color: BACKGROUND_PRESSED;
    -fx-background-color: BACKGROUND_PRESSED;
    -fx-border-width: 1;
}
.buttonInfo:focused{
    -fx-border-color: transparent, #00aff0;
    -fx-border-radius: 0, 0;
    -fx-border-width: 1;
}
.buttonInfo:disabled, .buttonInfo:default:disabled{
    -fx-opacity: 0.4;
    -fx-background-color: BACKGROUND;
    -fx-text-fill: TEXT;
}

.buttonInfo {
    BORDER_HOVER_DEFAULT: derive(ACCENT_COLOR, -40%);
}
.buttonInfo:default
{
    -fx-background-color: ACCENT_COLOR;
    -fx-text-fill: DEFAULT_BUTTON_TEXT;
}
.buttonInfo:default:hover{
    -fx-border-color: BORDER_HOVER_DEFAULT;
}
.buttonInfo:default:pressed {
    -fx-background-color: derive(ACCENT_COLOR, -40%);
}

/*******************************************************************************
 *                                                                             *
 * Text Field (and Password Field)                                             *
 *                                                                             *
 ******************************************************************************/

.text-field {
    ACCENT_COLOR: #2796c4;
    BORDER: #999999;
    BORDER_HOVER: #666666;

    BACKGROUND: white;
    BACKGROUND_FOCUSED: #00aff0;
    BACKGROUND_HOVER: white;

    TEXT_COLOR: #111;
    PROMPT_TEXT: #666666;

    HIGHLIGHT: ACCENT_COLOR;
    HIGHLIGHT_TEXT: white;

    GRAPHIC: #747474;
}

.text-field{
    -fx-background-radius: 0, 0;

    -fx-background-color: BORDER, BACKGROUND;
    -fx-border-width:1;
    -fx-border-color: #999999;

    -fx-font-size:14; 
    -fx-font-family:"Roboto"; 
}

.text-field:hover{
    -fx-background-color: BORDER_HOVER, BACKGROUND_HOVER;
    -fx-border-color: #7a7a7a;
}

.text-field:focused{
    -fx-border-width:1;
    -fx-border-color: #00aff0;
}

.text-field > .right-button{
    -fx-cursor: default;

    -fx-background-insets: -0.1666665em -0.45em -0.1666665em -0.45em; /* 4 7 4 7 -> this values are subtracted by 2px in em because of the border of the textfield */
    -fx-background-color: BACKGROUND_FOCUSED;  /* We must give it a color so that it reacts to the mouse */
}

.text-field > .right-button > .right-button-graphic {

    -fx-padding: 0.416667em;
    -fx-background-color: GRAPHIC;
}

.text-field > .right-button:hover > .right-button-graphic {
    -fx-background-color: ACCENT_COLOR;
}

.text-field:disabled
{
    -fx-opacity: 1;
    -fx-background-color: #d9d9d9, #eaeaea;
    -fx-text-fill: #adadad;
}

/*******************************************************************************
*                                                                              *
*Text Area                                                                     *
*                                                                              *
*******************************************************************************/
.text-area{
    BORDER: #999999;
    BORDER_HOVER: #666666;

    BACKGROUND: white;
    BACKGROUND_FOCUSED: #00aff0;
    BACKGROUND_HOVER: white;
}
.text-area{
    -fx-background-radius: 0, 0;

    -fx-font-size:14;
    -fx-font-family:"Roboto";

    -fx-background-color: BORDER, BACKGROUND;
    -fx-border-width:1;
    -fx-border-color: #999999;
}
.text-area .content{
    -fx-background-color: BACKGROUND_HOVER;
}

.text-area:hover{
    -fx-background-color: BORDER_HOVER, BACKGROUND_HOVER;
    -fx-border-color: #7a7a7a;
}

.text-area:focused{
    -fx-border-width:1;
    -fx-border-color: #00aff0;
}


/*******************************************************************************
 *                                                                             *
 * Date Picker                                                                 *
 *                                                                             *
 ******************************************************************************/
.date-picker{
    -fx-background-color: transparent, transparent, transparent, transparent;
    -fx-font-size:14; 
    -fx-font-family:"Roboto"; 
    -fx-background-color:white;
    -fx-border-color:#999999;
    -fx-border-width:1;
}
.date-picker:hover{
    -fx-border-color: #7a7a7a;
}
.date-picker:focused{
    -fx-border-color: #00aff0;
}
.date-picker > .arrow-button > .arrow {
    -fx-shape: "M0,0v9h9V0H0z M2,8H1V7h1V8z M2,6H1V5h1V6z M2,4H1V3h1V4z M4,8H3V7h1V8z M4,6H3V5h1V6z M4,4H3V3h1V4z M6,8H5V7h1V8z M6,6H5 V5h1V6z M6,4H5V3h1V4z M8,8H7V7h1V8z M8,6H7V5h1V6z M8,4H7V3h1V4z";
    -fx-background-color:  #1a2226;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.416667em 0.416667em 0.333333em 0.333333em; /* 5 5 4 4 */
    -fx-scale-shape: true;
}

.date-picker .text-field{
    -fx-border-color: #ccc;
    -fx-border-width: 0;
    -fx-border-style: none;
    -fx-border-radius: 0;
}

.date-picker > .arrow-button{
    -fx-background-color: white;
}

.date-picker > .arrow-button:hover {
    -fx-background-color: #d9d9d9;
    -fx-background-insets: 3 3 3 3;
    -fx-background-radius: 0;
}

.date-picker > .arrow-button:pressed {
    -fx-background-color: black;
}

.date-picker > .arrow-button:pressed > .arrow {
    -fx-background-color: white;
}

.date-picker-popup {
    -fx-background-color: white;
    -fx-background-insets: 0;
}

.date-picker-popup > .month-year-pane {
    -fx-background-color: white;
    -fx-background-insets: 0;
}

.date-picker-popup > * > .spinner > .button {
    -fx-padding: 0.25em 0.583333em 0.25em 0.583333em; /* 3 7 3 7 */
}

.date-picker-popup > * > .spinner > .button {
    -fx-background-color: white;
    -fx-background-insets: 0;
}

.date-picker-popup > * > .spinner {
    -fx-background-color: white;
    -fx-background-insets: 0;
}

.date-picker-popup > * > .spinner > .button:hover {
    -fx-background-color: #dadada;
}

.date-picker-popup > * > .spinner > .button:armed {
    -fx-background-color: #606060;
}

.date-picker-popup > * > .spinner > .button > .left-arrow,
.date-picker-popup > * > .spinner > .button > .right-arrow {
    -fx-background-color: #606060;
    -fx-background-insets: 0;
    -fx-effect: null;
}

.date-picker-popup > * > .spinner > .button:pressed > .left-arrow,
.date-picker-popup > * > .spinner > .button:pressed > .right-arrow {
    -fx-background-color: white;
    -fx-background-insets: 0;
}

.date-picker-popup > .calendar-grid {
    -fx-background-color: white;
    /*-fx-background-insets: 1 0 0 0;*/
    -fx-padding: 0;
}

.date-picker-popup > * > .previous-month,
.date-picker-popup > * > .next-month {
    -fx-background-color: white;
    -fx-opacity: 0.3;
}

.date-picker-popup > * > .day-name-cell,
.date-picker-popup > * > .week-number-cell {
    -fx-font-size:14px;
    -fx-font-family: "Roboto";
}

.date-picker:disabled{
    -fx-background-color: #eaeaea;
    -fx-text-fill: #adadad;
    -fx-opacity: 1.0; 
}

/*******************************************************************************
 *                                                                             *
 * Combo Box                                                                   *
 *                                                                             *
 ******************************************************************************/

.combo-box {
    -fx-background-color: transparent, white, transparent, white;
    -fx-border-width:1;
    -fx-border-color: #999999;
    -fx-font-family:"Roboto";  
    -fx-font-size: 14px;
}

.combo-box:hover {
    -fx-border-color: #7a7a7a;
}

.combo-box:focused {
    -fx-border-width:1;
    -fx-border-color: #00aff0;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-font-family:"Roboto";  
    -fx-font-size: 14px;
    -fx-padding: 6px;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:hover{
    -fx-background-color: #00aff0;
    -fx-text-fill: white;
}


/*******************************************************************************
 *                                                                             *
 * Check Box                                                                   *
 *                                                                             *
 ******************************************************************************/

.check-box {
    -fx-text-fill: #23283a;
    -fx-font-family:"Roboto";  
    -fx-font-size: 14px;
}

/* unselected */
.check-box > .box {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-background-radius: 0;

    -fx-border-color: #999999;
    -fx-border-width: 1px;
    -fx-border-style: solid;

    -fx-padding: 4px 2px 4px 2px;
}

.check-box > .box > .mark {
    -fx-shape: "M17.939,5.439L7.5,15.889l-5.439-5.449l0.879-0.879L7.5,14.111 l9.561-9.551L17.939,5.439z";

    -fx-pref-width: 16px;
    -fx-pref-height: 12px;

    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

/* hover */
.check-box:hover > .box, .check-box:selected:hover > .box  {
    -fx-border-color: #7a7a7a;
}

/* selected */
.check-box:selected > .box{
    -fx-background-color: #666666;
    -fx-border-color: black;
}

.check-box:selected > .box > .mark{
    -fx-background-color: white;
}

/* pressed */
.check-box:pressed > .box, .check-box:selected:pressed > .box
{
    -fx-background-color: #666666;
    -fx-border-color: #666666;
}

/* indeterminate */
.check-box:indeterminate > .box {
    -fx-padding: 4px 2px 4px 2px;

    -fx-border-color: ACCENT_COLOR;
}

.check-box:indeterminate > .box > .mark {
    -fx-shape: null;

    -fx-pref-width: 10px;
    -fx-max-width: 10px;
    -fx-min-width: 10px;
    -fx-pref-height: 10px;
    -fx-max-height: 10px;
    -fx-min-height: 10px;

    -fx-background-color: #333333;
    /*-fx-background-insets: 3px;*/
}

/* -- indeterminate - pressed */
.check-box:indeterminate:pressed > .box > .mark {
    -fx-background-color: #666666;
}

.check-box:indeterminate:pressed > .box {
    -fx-background-color: white;
    -fx-border-color: #666666;
}

/* focused */

.check-box:focused > .box{
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    /* - first border is focus ring
       - second border is control border */
    -fx-border-color: #00aff0;
    -fx-border-width: 1;
    /*noinspection CssInvalidFunction*/
    /*-fx-border-style: segments(1, 2), solid;*
    -fx-border-insets: -3, 0;*/
}

/* -- focused - selected */
.check-box:focused:selected > .box{
    -fx-border-color: black;
}

/* -- focused - selected, hover */
.check-box:focused:selected:hover > .box{
    -fx-border-color: black, #333333;
}

/* -- focused - pressed */
.check-box:focused:pressed > .box{
    -fx-border-color: black, #666666;
}

.check-box:focused:selected:pressed > .box{
    -fx-border-color: black, #666666;
}

.check-box:focused:indeterminate:pressed > .box{
    -fx-border-color: black, #666666;
}

/* -- focused - indeterminate*/
.check-box:focused:indeterminate > .box {
    -fx-border-color: black, ACCENT_COLOR;
}

/* disabled */
.check-box:disabled
{
    -fx-opacity: 0.4;
}

.check-box:disabled > .box
{
    -fx-background-color: #cdcdcd;
    -fx-border-color: #aaa;
}


/*******************************************************************************
 *                                                                             *
 * Tooltip                                                                     *
 *                                                                             *
 ******************************************************************************/

.tooltip {
    -fx-background-color: #f2f2f2;
    -fx-background-insets: 0;
    -fx-background-radius: 0 0 0 0;

    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em;  /*4 8 4 8 */

    -fx-font-family: "Roboto";
    -fx-text-fill: #111;
    -fx-font-size: 1.166667em; /* 14 */

    -fx-border-color: #cccccc;
    -fx-border-width: 1px;

    -fx-effect: null;
}


/*******************************************************************************
 *                                                                             *
 * List View                                                                   *
 *                                                                             *
 ******************************************************************************/

.list-view {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-padding: 0;

    -fx-border-color: #a4a4a4;
    -fx-border-width: 1px;
}

.list-view:focused {
    -fx-border-color: #00aff0;
}

.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-padding: 8px;
    -fx-font-family: "Roboto";
    -fx-text-fill: #1a2226;
    -fx-font-size: 1.166667em;  /*14*/
}

.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:focused {
    -fx-background-color: #cccccc;
}

.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-background-color: white;
}

.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:focused {
    -fx-background-color: #00aff0;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}

